APP_NAME="Scheduling System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=America/Sao_Paulo
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120
SANCTUM_STATEFUL_DOMAINS=localhost:3000

CACHE_STORE=database
QUEUE_CONNECTION=database

FOLLOW_UP_WINDOW_DAYS=30
